/* Creación de variables para ser usadas en propiedades de colores, estilos y tamaños de textos e íconos. También
se agregan 2 propiedades para un buen UX en dispositivos de resolución menor a 1069px */
:root{
    --color-rosa: rgb(168, 0, 162);
    --color-titulos: rgb(200, 200, 200);
    --color-textos: rgb(130, 130, 130);
    --font-family-titulos: 'Poppins', sans-serif;
    --font-family-textos: 'Ubuntu', sans-serif;
    --font-size-titulos: clamp(1.5rem, 4.5vh + 0.1rem, 7rem);
    --font-size-subtitulos: clamp(1.2rem, 3.5vh + 0.1rem, 6.5rem);
    --font-size-subtitulos2: clamp(1rem, 2.5vh + 0.1rem, 5rem);
    --font-size-textos: clamp(0.8rem, 1.9vh + 0.1rem, 4rem);
    --font-size-iconos: clamp(1rem, 2.8vh + 0.1rem, 4rem);
    --font-size-nombre: clamp(2rem, 6vh + 0.1rem, 8rem);
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

/* Dando estilos al body y contenedores principales */
body{
    background: rgb(0, 0, 0);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.general-container{
    width: 70%;
    height: 85%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(28,29,31);
    border-radius: 50px;
    position: relative;
}

#sobreMi-container, #formacion-container, #experiencias-container, #contacto-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
}

#left-container, #sobreMi-container, #formacion-container, #experiencias-container, #contacto-container{
    width: 50%;
    height: 100%;
}

#left-container{
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Dando estilo al menú de navegación del CV */
.menu-container{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Desactivando la barra de navegación que solo usarán dispositivos con un width menor a 1069px  */
.menu-container-small{
    display: none;
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    gap: 5%;
}

.menu li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.menu li a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-iconos);
    color: var(--color-textos);
    text-decoration: none;
    transition-duration: 500ms;
    transition-property: color, transform;
}

.menu li a:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: var(--color-rosa);
}

/* Dando estilo a la portada del CV */
.portada-container{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: url(Imágenes/imagen1.jpeg);
    background-size: cover;
    background-position: center;
}

/* Ocultando la imagen de perfil de la persona que será colocada como elemento aparte solo en el media query. */
.foto-perfil{
    display: none;
}

.mini-container{
    width: 60%;
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 5%;
}

.nombre-container{
    font-size: var(--font-size-nombre);
    color: var(--color-titulos);
    text-align: center;
    padding: 2% 5%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
    font-family: var(--font-family-titulos);
}

.redes-container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 12%;
}

.redes-container li a{
    text-decoration: none;
    font-size: var(--font-size-iconos);
}
.redes-container li i{
    color: var(--color-titulos);
    transition-duration: 500ms;
    transition-property: color, transform;
}

.redes-container li i:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: var(--color-rosa);
}

/* Diseñando y posicionando los contenedores con su información respectivamente */
.caja1, .caja2 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 95%;
    height: 45%;
    margin: 2% auto;
}

.caja1 {
    border-bottom: solid 1px rgba(255, 255, 255, 0.115);
}

.titulo1 {
    font-size: var(--font-size-titulos);
    color: var(--color-titulos);
    margin: 0 0 2.5% 2.5%;
    font-family: var(--font-family-titulos);
}

.info{
    color: var(--color-textos);
    font-family: var(--font-family-textos);
    font-weight: 700;
    font-size: var(--font-size-textos);
    margin-left: 2.5%;
}

.caja2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
}

.titulo2{
    font-size: var(--font-size-subtitulos);
    width: 100%;
    color: var(--color-titulos);
    font-family: var(--font-family-titulos);
    text-align: center;
}

.lista-de-labels, .lista-de-datos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 45%;
    height: 70%;
    list-style: none;
    margin: 0 auto;
}

.lista-de-datos{
    align-items: end;
}

.lista-de-labels li, .lista-de-datos li{
    color: var(--color-textos);
    font-family: var(--font-family-textos);
    font-weight: 700;
    font-size: var(--font-size-textos);
}

.lista-de-datos #disponibilidad{
    color: rgb(0, 201, 0);
    font-size: var(--font-size-textos);
}

.lista-estudios, .lista-de-trabajos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    list-style: none;
}

.lista-estudios{
    height: 80%;
}

.lista-de-trabajos{
    height: 90%;
}

.lista-estudios li, .lista-de-trabajos li{
    color: var(--color-textos);
    font-family: var(--font-family-textos);
    font-weight: 700;
    font-size: var(--font-size-textos);
    margin-left: 2.5%;
}

.lista-estudios li span, .lista-de-trabajos li span{
    color: var(--color-rosa);
    margin-right: 0.5vw;
}

.informatica-container, .idiomas-container{
    width: 45%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10%;
}

.idiomas-container{
    margin-left: 7%;
}

.titulo3{
    font-size: var(--font-size-subtitulos2);
    font-family: var(--font-family-titulos);
    color: var(--color-rosa);
}

.lista-informatica, .lista-idiomas{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    list-style: inside;
    gap: 20%;
}

.caja2 li{
    color: var(--color-textos);
    font-family: var(--font-family-textos);
    font-weight: 700;
    font-size: var(--font-size-textos);
    text-align: center;
}

.caja-grande{
    width: 95%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5%;
}

.caja-grande p{
    color: var(--color-titulos);
    font-weight: bolder;
}

.formulario{
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-left: 2.5%;
}

.cajitas{
    height: 6%;
    padding: 2% 1%;
}

.cajita-msj{
    resize: none;
    height: 30%;
}

.cajitas, .cajita-msj{
    width: 90%;
    font-size: var(--font-size-subtitulos2);
    font-family: var(--font-family-textos);
    color: var(--color-titulos);
    border: none;
    border-radius: 10px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.115);
    background: none;
}

.submit{
    width: 22%;
    height: 8%;
    font-size: var(--font-size-subtitulos2);
    font-family: var(--font-family-titulos);
    border: none;
    border-radius: 5px;
    background-color: var(--color-rosa);
    color: var(--color-titulos);
}

.submit:hover{
    background-color: rgba(138, 1, 134, 0.658);
    transition: 500ms;
}

/* Modificación del estilo completo del proyecto para una mejor experiencia y visualización en dispositivos de baja resolución con respecto al width.
Todo esto mediante el uso de Media Queries. */

@media only screen and (max-width: 1069px){

    body{
        background: rgb(0, 0, 0);
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
    .general-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-radius: 0;
    }
    
    #left-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    
    /* Desactivando la barra de navegación principal para luego activar la barra para dispositivos mas pequeños  */
    .menu-container{
        display: none;
    }

    .menu-container-small{
        width: 100vw;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: rgb(28,29,31);
        z-index: 1;
        position: fixed;
    }
    
    .menu{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 50%;
        height: 100%;
        gap: 15%;
    }
    
    .menu li{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu li a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: var(--font-size-iconos);
        color: var(--color-textos);
        transition-duration: 0ms;
        transition-property: color, transform;
    }
    
    .portada-container{
        width: 100vw;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        background-color: black;
        gap: 15%;
    }

/* Activando la imagen de perfil que se ocultó en el estilo principal */
    .foto-perfil{
        display: block;
        width: 400px;
        position: relative;
        top: 10%;
    }
    
    .mini-container{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        bottom: 12.5%;
    }
    
    .nombre-container{
        font-size: var(--font-size-nombre);
        color: var(--color-titulos);
        text-align: center;
        padding: 2% 5%;
        margin-bottom: 5%;
        border-radius: 10px;
        font-family: var(--font-family-titulos);
        background-color: none;
    }
    
    .redes-container{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 100%;
        gap: 12%;
    }
    
    .redes-container li a{
        text-decoration: none;
        font-size: var(--font-size-iconos);
    }
    .redes-container li i{
        color: var(--color-titulos);
        transition-duration: 0ms;
    }
    
    .redes-container li i:hover{
        transform: scale(1.2);
        cursor: pointer;
        color: var(--color-rosa);
    }
    
    #sobreMi-container, #formacion-container, #experiencias-container, #contacto-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;
        left: 0;
        visibility: visible;
    }

    .caja1, .caja2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 43vh;
        background-color: rgb(28,29,31);
    }
    
    .caja1 {
        border-bottom: none;
    }
    
    .titulo1 {
        font-size: var(--font-size-titulos);
        color: var(--color-titulos);
        margin: 2.5% 2.5% 2.5% 2.5%;
        font-family: var(--font-family-titulos);
        text-align: center;
    }
    
    .info{
        color: var(--color-textos);
        font-family: var(--font-family-textos);
        font-weight: 700;
        font-size: var(--font-size-textos);
        margin: 2% 5% 5% 5%;
    }
    
    .caja2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: start;
    }
    
    .titulo2{
        font-size: var(--font-size-subtitulos);
        width: 100%;
        color: var(--color-titulos);
        font-family: var(--font-family-titulos);
        text-align: center;
        margin: 5% 2.5% 2.5% 2.5%;
    }
    
    .lista-de-labels, .lista-de-datos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        width: 45%;
        height: 70%;
        list-style: none;
        margin: 0 auto;
    }
    
    .lista-de-datos{
        align-items: end;
    }
    
    .lista-de-labels li, .lista-de-datos li{
        color: var(--color-textos);
        font-family: var(--font-family-textos);
        font-weight: 700;
        font-size: var(--font-size-textos);
    }
    
    .lista-de-datos #disponibilidad{
        color: rgb(0, 201, 0);
        font-size: var(--font-size-textos);
    }
    
    .lista-estudios, .lista-de-trabajos{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        list-style: none;
        margin: 2.5% 2.5% 2.5% 2.5%;
    }
    
    .lista-estudios{
        height: 80%;
    }
    
    .lista-estudios li, .lista-de-trabajos li{
        color: var(--color-textos);
        font-family: var(--font-family-textos);
        font-weight: 700;
        font-size: var(--font-size-textos);
    }
    
    .lista-estudios li span, .lista-de-trabajos li span{
        color: var(--color-rosa);
        margin-right: 0.5vw;
    }
    
    .informatica-container, .idiomas-container{
        width: 45%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        left: 2%;
    }
    
    .titulo3{
        font-size: var(--font-size-subtitulos2);
        font-family: var(--font-family-titulos);
        color: var(--color-rosa);
    }
    
    .lista-informatica, .lista-idiomas{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-content: center;
        list-style: inside;
        gap: 10%;
    }
    
    .caja2 li{
        color: var(--color-textos);
        font-family: var(--font-family-textos);
        font-weight: 700;
        font-size: var(--font-size-textos);
        text-align: center;
    }
    
    .caja-grande{
        width: 100vw;
        height: 92.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(28,29,31);
        margin-top: 1vh;
    }

    .caja-grande .titulo1{
        text-align: center;
        margin-top: 2.5vh;
    }
    
    .lista-de-trabajos{
        height: 75%;
        position: relative;
        bottom: 5%;
    }

    .caja-grande p{
        color: var(--color-titulos);
        font-weight: bolder;
        position: relative;
        top: 3%;
    }
    
    .formulario{
        width: 95%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        margin-left: 2.5%;
        position: relative;
        bottom: 5%;
    }
    
    .cajitas{
        height: 6%;
        padding: 2% 1%;
    }
    
    .cajita-msj{
        resize: none;
        height: 20%;
    }
    
    .cajitas, .cajita-msj{
        width: 90%;
        font-size: var(--font-size-subtitulos2);
        font-family: var(--font-family-textos);
        color: var(--color-titulos);
        border: none;
        border-radius: 10px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.115);
        background: none;
    }
    
    .submit{
        width: 25vw;
        height: 6vh;
        font-size: var(--font-size-subtitulos2);
        font-family: var(--font-family-titulos);
        border: none;
        border-radius: 5px;
        background-color: var(--color-rosa);
        color: var(--color-titulos);
        transition-duration: 500ms;
        transition-property: all;
    }
    
    .submit:hover{
        background-color: rgba(138, 1, 134, 0.658);
    }
}

/* Fin de la página de estilos CSS */